<footer class="footer-2 bg-midnight-blue">
<div class="container">
  <nav class="pull-left">
  <ul>
    <li class="active"><a href="index.html">Home</a></li>
    <li><a href="getting_started.html">Getting started</a></li>
    <li><a href="documentation/index.html">Documentation</a></li>
    <li><a href="demo.html">Demo</a></li>
    <li><a href="examples.html">Examples</a></li>
    <li><a href="support.html">Support</a></li>
    <li><a href="blog.html">Blog</a></li>
  </ul>
  </nav>
  <div class="social-btns pull-right">
    <a href="#">
      <div class="fui-vimeo"></div>
      <div class="fui-vimeo"></div>
    </a>
    <a href="#">
      <div class="fui-facebook"></div>
      <div class="fui-facebook"></div>
    </a>
    <a href="#">
      <div class="fui-twitter"></div>
      <div class="fui-twitter"></div>
    </a>
  </div>
  <div class="additional-links">
    Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
  </div>
</div>
</footer>

